{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<link rel="import" href="/bower_components/iron-form/iron-form.html">

<form{{ attributes }} is="iron-form">
  {{ children }}
</form>
