{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if attributes.type == 'submit' %}
    <link rel="import" href="/bower_components/paper-button/paper-button.html">
    <button type="submit" class="no-style"><paper-button{{ attributes }} raised>{{ attributes.value }}</paper-button></button>
{% elseif attributes.type == 'checkbox' %}
    <link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
    <paper-checkbox{{ attributes }}>{{ children }}</paper-checkbox>
{% elseif attributes.type == 'hidden' %}
    <input{{ attributes }} />{{ children }}
{% else %}
    <link rel="import" href="/bower_components/paper-input/paper-input.html">
    <paper-input{{ attributes }} label="{{ attributes.title }}" char-counter>{{ children }}</paper-input>
{% endif %}

